[submodule "games/aoe4"]
	path = games/aoe4
	url = https://github.com/NerRobDog/dxmt-aoe4-pack
[submodule "components/wine-aoe4"]
	path = components/wine-aoe4
	url = https://github.com/NerRobDog/wine-aoe4
[submodule "components/x87sidecar"]
	path = components/x87sidecar
	url = https://github.com/NerRobDog/x87sidecar
[submodule "components/dxmt"]
	path = components/dxmt
	url = https://github.com/NerRobDog/dxmt
	branch = aoe4-d3d12
[submodule "games/ow2"]
	path = games/ow2
	url = https://github.com/NerRobDog/dxmt-ow2-pack
[submodule "games/magicka"]
	path = games/magicka
	url = https://github.com/NerRobDog/magicka-fna
