[submodule "games/aoe4"]
	path = games/aoe4
	url = https://github.com/NerRobDog/dxmt-aoe4-pack
[submodule "components/wine-aoe4"]
	path = components/wine-aoe4
	url = https://github.com/NerRobDog/wine-aoe4
[submodule "components/x87sidecar"]
	path = components/x87sidecar
	url = https://github.com/NerRobDog/x87sidecar
[submodule "components/dxmt"]
	path = components/dxmt
	url = https://github.com/NerRobDog/dxmt
	branch = aoe4-d3d12
